.App {
  text-align: center;
}

.Title {
  background-color: lightblue;
}

.Login {
  background-color: lightpink;
  margin: 10px;
  height: 250px;
  width: 250px;
}
.UserList {
  background-color: lightpink;
  margin: 10px;
  height: 250px;
  width: 250px;
}

.MessageList {
  background-color: rgb(79, 165, 79);
  margin: 10px;
  height: 750px;
  width: 750px;
}

.InputArea {
  background-color: lightyellow;
}
